@import "../../_globalColor";

/* React-headroom */
.headroom-wrapper {
  max-height: 100px;
}

/* ===============================
   HEADER BASE
   =============================== */

.header {
  background-color: $lightBackground1;
  max-width: 100%;
  padding: 15px 20px;
  margin: 0px auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 15px 20px;
  color: $textColor;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $headerHoverBG;
}

/* ===============================
   LOGO
   =============================== */

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
}

.header .logo-name {
  font-family: "Agustina Regular";
  font-weight: bold;
  padding: 0 10px;
  color: #000000 !important; /* Light theme */
}

/* Dark theme logo */
.dark-menu .logo-name {
  color: #ffffff !important;
}

/* ===============================
   DARK MODE HEADER
   =============================== */

.dark-menu {
  background-color: $darkBackground !important;
  color: $textColorDark;
}

.dark-menu li a {
  color: $textColorDark !important;
}

.dark-menu li a:hover {
  background-color: $buttonColor !important;
}

/* ===============================
   MENU
   =============================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* ===============================
   MENU ICON
   =============================== */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $iconBackground;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $iconBackground;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* ===============================
   MENU BUTTON
   =============================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 486px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent !important;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  top: 0;
}

/* ===============================
   RESPONSIVE
   =============================== */

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header li {
    float: left;
  }

  .header .menu {
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
